body{
	background-color: #000000;
}
h1{
	color: #ffffff;
	text-align: center;
}
p
{
	padding-left: 120px;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
}
button
{
	margin-left:240px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}